-
  const data = {
    slider: [
      {
        fileName: 'slider-01',
        title: 'Light coat',
        text: 'More cotton, more freedom',
        isActive: true,
      },
      {
        fileName: 'slider-02',
        title: 'Sandy longsleeve',
        text: 'More cotton, more freedom',
      },
      {
        fileName: 'slider-03',
        title: 'Lime jacket',
        text: 'More cotton, more freedom',
      },
    ],
  };
