-
  const data = {
    slider: [
      {
        fileName: 'slider-01',
        title: 'Light coat',
        text: 'More cotton, more freedom',
        isActive: true,
      },
      {
        fileName: 'slider-02',
        title: 'Sandy longsleeve',
        text: 'More cotton, more freedom',
      },
      {
        fileName: 'slider-03',
        title: 'Lime jacket',
        text: 'More cotton, more freedom',
      },
    ],
    product: {
      colors: [
        {
          name: 'violet',
          isChecked: true,
        },
        {
          name: 'gray',
        },
        {
          name: 'blue',
        },
      ],
      sizes: [
        {
          name: 'xs',
          description: 'Extra-small size',
        },
        {
          name: 's',
          description: 'Small size',
          isChecked: true,
        },
        {
          name: 'm',
          description: 'Medium size',
        },
        {
          name: 'l',
          description: 'Large size',
        },
        {
          name: 'xl',
          description: 'Extra-large size',
          isDisabled: true,
        },
      ],
    },
    collections: [
      {
        fileName: 'similar-01',
        title: 'Kingsman style',
        text: 'More silk, more freedom',
      },
      {
        fileName: 'similar-02',
        title: 'Denim goddess',
        text: 'More denim, more freedom',
      },
    ],
  };
