.main__wrapper {
  margin: 0 auto;

  @include media-min($width-desktop) {
    position: relative;
    display: grid;
    grid-template-columns: 600px 720px;
    justify-content: space-between;
    align-items: start;
    max-width: $width-desktop;
  }
}

.main__slider {
  @include media-min($width-desktop) {
    position: sticky;
    top: 0;
  }
}
