:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #8a94a6;
  --color-gray-light: #e1e6ed;
  --color-gray-transparent: #{rgba(#e1e6ed, 0.2)};
  --color-violet: #192b3f;
  --color-sandy: #c9b8a8;
  --color-blue: #3d5876;
  --color-primary: var(--color-violet);
  --color-primary-hover: #2e4055;
  --color-primary-active: #3b536d;
  --color-primary-transparent: #{rgba(#192b3f, 0.8)};
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
  font: 500 16px/1.5 $font-primary;
}

body {
  min-width: $width-mobile;
  margin: 0;
  color: var(--color-primary);
  text-size-adjust: 100%;
  background-color: var(--color-white);
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  &[type="number"] {
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      margin: 0;
      appearance: none;
    }
  }

  &[type="search"] {
    appearance: textfield;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      appearance: none;
    }
  }
}

@mixin title-small() {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-gray);
  text-transform: uppercase;
}
