.visually-hidden:not(:focus):not(:active) {
  @include visually-hidden();
}

.container {
  box-sizing: border-box;
  min-width: $width-mobile;
  padding-right: 16px;
  padding-left: 16px;

  @include media-min($width-desktop) {
    padding-right: 52px;
    padding-left: 52px;
  }
}
