.similar {
  margin-bottom: 52px;

  @include media-min($width-tablet) {
    margin-bottom: 48px;
  }

  @include media-min($width-desktop) {
    margin-bottom: 64px;
  }
}

.similar__title {
  @include title-small();

  margin-bottom: 8px;
}

.similar__list {
  display: grid;
  justify-content: center;
  gap: 16px;

  @include media-min($width-tablet) {
    gap: 28px;
  }

  @include media-min($width-desktop) {
    grid-template-columns: repeat(2, 296px);
    gap: 24px;
  }
}
