section.product
  div.container
    div.product__heading
      p.product__subtitle
        | New collection
      h2.product__title
        | Gussi light coat

    div.product__description
      p
        | It takes you from the party to the after&nbsp;party with its fashion-forward styles. A&nbsp;playfull blend of retro and modern outdoor design.

    div.product__form
      include order-form

    div.product__details
      h3.product__details-title
        | Product details

      p
        | Look out for its standout party dresses, feminine details, statement jackets and cool denim including skinny-cut jeans and cute denim shorts, which sit alongside its directional footwear and swimwear ranges.
      p.product__composition
        | 63% Viscose, 37% Polyamide.

    button.product__button.button(type="submit" form="order_form")
      | Order now

    dl.product__delivery
      div.product__delivery-term
        dt
          button.product__delivery-button(type="button")
            | Delivery
        dd
          p
            | Delivered on or before Monday, 25 February 2019#[br]
            | Note: Subject to placing your order before specific cut-off times. Details available in checkout.
          p
            | For free delivery – spend over #[b £18.08]

      div.product__delivery-term
        dt
          button.product__delivery-button(type="button")
            | Return
        dd
          p
            | Return through your local Boxberry store available in over 2,300 locations.#[br]
            | You can create your return on the carrier website by clicking the create return link.#[br]
            | Open 7 days a week, early until late.
