section.subscribe
  div.container
    div.subscribe__heading
      h2.subscribe__title
        | Subscribe our newsletter
      p.subscribe__text
        | Get notified about new collections of Gussi Store

    div.subscribe__form
      include form
